@model Simplelife.ViewModels.NotesViewModel

@{
    ViewBag.Title = "Заметки";
}

<div class="container">
    <div class="row">
        <ul class="notes">
            <li id="add-note" style="cursor:pointer">
                <div class="yellow-bg">
                    <i class="fa fa-plus-square fa-5x"></i>
                </div>
            </li>
            <li>
                <div class="yellow-bg">
                    <small>Сохранено</small>
                    <h4 contenteditable="true">Awesome title</h4>
                    <p contenteditable="true">The years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                    <a href="#" class="text-danger pull-right"><i class="fa fa-trash-o "></i></a>
                </div>
            </li>
            <li>
                <div class="yellow-bg">
                    <small>Сохранено</small>
                    <h4 contenteditable="true">Awesome date</h4>
                    <p contenteditable="true">The years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                    <a href="#" class="text-danger pull-right"><i class="fa fa-trash-o "></i></a>
                </div>
            </li>
        </ul>
    </div>
</div>
@section Scripts{
    <script>
        $("#add-note").on('click', function () {
            $(this).after("<li> \
            <div class=\"yellow-bg\" style=\"opacity:0\"> \
                <small>Сохранено</small> \
                <h4>Awesome project</h4> \
                <p contenteditable=\"true\"></p> \
                <a href=\"#\" class=\"text-danger pull-right\"><i class=\"fa fa-trash-o \"></i></a> \
            </div> \
        </li>")
            $("div.yellow-bg:eq(1)").animate({ opacity: 1.0 }, 500, function () { $("div.yellow-bg:eq(1)").children("p").focus() })
        })
        $("ul.notes").on('focusout', "li div p, li div h4", function () {
            $(this).parent().children("small").animate({ opacity: 1.0 }, 500).delay(1000).animate({ opacity: 0 }, 500);
        })
    </script>
}