@model Simplelife.ViewModels.NotesViewModel

@{
    ViewBag.Title = "Заметки";
}

<dev class="row">
    <ul class="notes">
        <li id="add-note" style="cursor:pointer">
            <div class="yellow-bg">
                <p><i class="fa fa-plus-square fa-5x" style="display:block;transform:translate(32%, 70%)"></i></p>
                <a href="#" class="text-danger pull-right"></a>
            </div>
        </li>
        <li>
            <div class="yellow-bg">
                <small>12:03:28 12-04-2014</small>
                <h4>Awesome title</h4>
                <p>The years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                <a href="#" class="text-danger pull-right"><i class="fa fa-trash-o "></i></a>
            </div>
        </li>
        <li>
            <div class="yellow-bg">
                <small>12:03:28 12-04-2014</small>
                <h4>Awesome date</h4>
                <p>The years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                <a href="#" class="text-danger pull-right"><i class="fa fa-trash-o "></i></a>
            </div>
        </li>
        <li>
            <div class="yellow-bg">
                <small>12:03:28 12-04-2014</small>
                <h4>Awesome project</h4>
                <p>The years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                <a href="#" class="text-danger pull-right"><i class="fa fa-trash-o "></i></a>
            </div>
        </li>
    </ul>
</dev>
@section Scripts{
    <script>
        $("#add-note").on('click', function () {
            alert();
        })
    </script>
}